{% extends 'base.html' %}
{% block title %} 상세보기 {% endblock title %}
{% block body %}
<div class="container w-50">
  <div class="d-flex align-items-center">
    <h3 class="m-0">{{ post.category }}</h3>
    <h1 class="text-center flex-grow-1">{{ post.title }}</h1>
    <p class="fs-6 text-end m-0 me-3">{{ post.pk }}</p>
  </div>
  <hr class="mt-0 mb-3">
  <div class="mb-3" style="word-wrap: break-word;">
    {{ post.content }}
  </div>
  <div class="d-flex justify-content-between">
    <a href="{% url 'posts:index' %}" class="btn btn-outline-success">뒤로가기</a>
    <div class="d-flex justify-content-between">
      <a href="{% url 'posts:update' post.pk %}" class="btn btn-outline-primary me-3">수정</a>
      <form action="{% url 'posts:delete' post.pk %}" method="POST">
        {% csrf_token %}
        <button type="sumbit" class="btn btn-outline-danger">삭제</button>
      </form>
    </div>
  </div>
</div>
{% endblock body %}