{% extends 'base.html' %}
{% block title %} 회원정보 수정 {% endblock title %}
{% block body %}
<div class="container w-25">
  <h1 class="text-center mb-3">회원정보 수정</h1>
  <form action="{% url 'accounts:update' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <div class="d-flex justify-content-between">
      <a href="{% url 'posts:index' %}" class="btn btn-outline-danger">뒤로가기</a>
      <div>
        <form action="{% url 'accounts:delete' %}" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn btn-warning" value="탈퇴">
        </form>
        <input type="submit" value="수정" class="btn btn-outline-primary">
      </div>
    </div>
  </form>
</div>
{% endblock body %}